<ion-header>
  <ion-toolbar color="couponzcorner">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center"> Rate our app </ion-title>


    <!--<ion-buttons slot="end">
      <ion-button (click)="navigateToSearchPage()">
     <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    Encourage us by giving 5 star if you really like our app.
  </ion-row>
  <ion-row>
    Feel free to write your feedbacks/suggestions/comments/thoughts to mirthbees@gmail.com, we ensure that we revert you
    for your mail!
  </ion-row>
</ion-content>