<ion-content class="login">   

  <!-- <div class="login">
    <h3>Life Linker</h3>
  </div> -->

  <div class="logincontainer">
    <ion-grid *ngIf="!showPin">
      <ion-row *ngIf="!showSignupPage">
        <ion-col size="12" class="p0" >
          <h3> Login</h3>
          <app-custom-label value="Mobile Number (+91)" > </app-custom-label>
          <ion-input type="text" class="custom" maxlength="20" [(ngModel)]="userRequest.mobile"></ion-input>
        </ion-col>

        <ion-col size="12" class="p0" >
          <app-custom-label value="Password" > </app-custom-label>
          <ion-input type="text" class="custom" maxlength="20" [(ngModel)]="userRequest.password"></ion-input>
          <p class="error" *ngIf="responseMsg"> {{responseMsg}}</p>
          <ion-button class="btn" (click)="onSubmit()" [disabled]="!userRequest.mobile || !userRequest.password"> Proceed </ion-button>
        </ion-col>

       
        
      </ion-row>
      <ion-row *ngIf="showSignupPage">
        
        <ion-col size="12">
          
          <!-- <app-custom-label value="Looks like you have not registered!!!" > </app-custom-label>
          <app-custom-label [value]="'We have sent OTP to verify your mobile number (' + userRequest.mobile + ')'" > </app-custom-label>

          <app-otp (context)="formDetails.otp = $event"></app-otp>
          <p class="error" *ngIf="isInvalidOtp"> Invalid OTP, please try again</p> -->

          <ion-row>
            <h3> Signup</h3>
            <ion-col size="12">
              <app-custom-label value="Mobile Number(+91)" > </app-custom-label>
              <!-- <app-custom-input (context)="formDetails.mobile = $event"> </app-custom-input> -->
              <ion-input type="text" class="custom" maxlength="20" [(ngModel)]="userRequest.mobile"></ion-input>
            </ion-col>
            <ion-col size="12">
              <app-custom-label value="Create Password" > </app-custom-label>
              <ion-input type="text" class="custom" maxlength="20" [(ngModel)]="formDetails.password"></ion-input>
              <!-- <app-custom-input placeholder="Maximum length of 8 characters" (context)="formDetails.password = $event"> </app-custom-input> -->
            </ion-col>
            <ion-col size="12">
              <app-custom-label value="Confirm Password"> </app-custom-label>
              <ion-input type="text" class="custom" maxlength="20" [(ngModel)]="formDetails.confirmPassword"></ion-input>
              <!-- <app-custom-input placeholder="Maximum length of 8 characters"  (context)="formDetails.confirmPassword = $event"> </app-custom-input> -->
            </ion-col>
          </ion-row>
          <p class="error" *ngIf="confirmPasswordError"> Password doesnot match</p>
          <ion-button class="btn" (click)="onSubmit('signup')"
          [disabled]="userRequest.mobile || formDetails.password || formDetails.confirmPassword"
          > Proceed </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>

    <!-- <ion-grid *ngIf="showPin">
      <ion-row>
        <ion-col size="12">
          <app-custom-label value="Create Password" > </app-custom-label>
          <app-custom-input placeholder="Maximum length of 8 characters"> </app-custom-input>
        </ion-col>
        <ion-col size="12">
          <app-custom-label value="Confirm Password" > </app-custom-label>
          <app-custom-input placeholder="Maximum length of 8 characters"> </app-custom-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="4" class="p0"></ion-col>
        <ion-col size="4" class="p0">
          <ion-button>
            PROCEED
          </ion-button>
        </ion-col>
        <ion-col size="3" class="p0"></ion-col>
      </ion-row>

    </ion-grid> -->

    
  </div>
  
</ion-content>
<ion-footer class="footer">
  <h4 *ngIf="!showSignupPage">Dont have an account? <u (click)="showSignupPage = true">Signup</u></h4>
  <h4 *ngIf="showSignupPage">Already have an account? <u (click)="showSignupPage = false">Login</u></h4>
</ion-footer>