.ion-color-couponzcorner {
  --ion-color-base:#1B334B;
  --ion-color-base-rgb: 69, 90, 100;
  --ion-color-contrast: #FFFFFF;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #e0e000;
  --ion-color-tint: #ffff1a;
}

// Material Design Sidemenu
#menu-material {
  .menu-header {
    padding: 5px 15px;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    color: white;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
      margin-top:10px;
      font-size:14px;
    }   
  }
  .user-avatar {
    max-width: 125px;height: 125px;
    padding: .5em;
    height: 12vh;
  }
  h3,
  .label,
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }
}
