@use '../app.component.scss';
.header {
    --background:#5c309d;
    & ion-title {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:white
    }
}

.acc-img {

    width: 100PX;
    height: 100px;
    // border: 1px solid;
    // border-radius: 50%;
    
    
    img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        box-shadow: 2px 2px 5px -1px;
    }
    
}
.acc-info {
    padding: 10px
}
.acc-other-content {
    margin-top: 25px;

    hr {
        background: #f4c9eb;
    }

    p {
        padding: 0 5px;
    }
}