.ion-color-couponzcorner { 
 --ion-color-base:#1B334B;
  --ion-color-base-rgb: 69, 90, 100;
  --ion-color-contrast: #FFFFFF;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #e0e000;
  --ion-color-tint: #ffff1a;
}